
.box {
    height: 121px;
    width: 121px;
    background-color: rgb(22, 208, 5);
    border-radius: 70px;
    position: absolute;
    bottom: 0;
    left: 0;   
    animation: animateX 3s linear infinite, animateY 1s ease-out infinite alternate;
}

.container {
    position: relative;
    height: 100vh;
    width: 120vw;
    background-color: rgb(8, 97, 107);
}

@keyframes animateX {
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}

@keyframes animateY {
   from{
        bottom: 0;
    }
    to{
        bottom: 100% ;
    }
}

